/*【色票】*/
$color_White: #f3f3f3;
$color_Yellow: #FFD633;
$color_Black: #222222;
$color_NightSky_Start: #19283D;
$color_NightSky_End: #1D678F;
$color_Rain: #4DACFF;
$color_Cloud_White: #f2f9fe;
$color_Cloud_Grey: #cccccc;

@mixin size($width, $height)
{
    width: $width;
    height: $height;
}

@mixin showWeekInfoList($delaytime)
{
    animation: expansionWeekInfoList 0.6s;
    animation-fill-mode: forwards;
    animation-delay: $delaytime;
}


/*【通用設定區】*/

body
{
    font-family:  'Hind Vadodara', sans-serif, 微軟正黑體;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_Black;
}

.wrap
{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: $color_White;
    box-shadow: 0px 0px 20px rgba(Black, 0.3);
    width: 50%;
    max-width: 375px;
}

.wrap label{
    cursor: pointer;
}

#switch_Light
{
    display: none;
}

/*【checkbox被勾選的反應】*/
#switch_Light:checked + .mainInfoArea .moon, 
#switch_Light:checked + .mainInfoArea .cloud
{
    opacity: 0.2;
}

#switch_Light:checked + .mainInfoArea .temperatureChart text
{
    animation: polylineDeepen 0.4s 1 linear;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

#switch_Light:checked + .mainInfoArea .temperatureChart circle
{
    opacity: 1;
}

#switch_Light:checked + .mainInfoArea .temperatureChart polyline
{
    animation: polylineDeepen 0.4s 1 linear;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes textDeepen
{
    0% {opacity: 1;}
    100% {opacity: 0.2;}
}

@keyframes polylineDeepen
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}



/*【主要資訊區（上半部區域） 】*/

.mainInfoArea
{
    position: relative;
    height: 330px;
    background: linear-gradient(20deg, $color_NightSky_Start, $color_NightSky_End);
    background-size: 100% 300%;
    
    animation: daylight 6s infinite;
    animation-direction: alternate;
}

@keyframes daylight
{
    0% { background-position: 100% 30%; }
    100% { background-position: 100% 100%; }
}

/*【svg繪圖】*/

.temperatureChart
{
    width: 100%;
    height: 200px;

    circle
    {
        fill: rgba($color_White, 0.4);
        opacity: 0.2;
    }

    polyline
    {
        stroke: rgba($color_White, 0.4);
        stroke-width: 1px;
        fill: none;
        opacity: 0.2;
    }

    text
    {
        transform: translateY(18px);
        font-size: 16px;
        fill: rgba($color_White, 0.4);
        opacity: 0;
    }
}



/*【文字訊息】*/

.detailInfoBox
{
    position: absolute;
    left: 27px;
    bottom: 25px;
    font-weight: 100px;
    color: $color_White;
}

.info_temperature
{
    font-size: 75px;
    line-height: 80px;
}

.infos
{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    opacity: 0.5;
}


/*【月亮的圖片】*/
.moon
{
    
    @include size(50px, 50px);
    position: absolute;
    top: 130px;
    left: 50px;
    
    border-radius: 100%;
    box-shadow: 36px -36px $color_Yellow;
    animation: moonChange 15s infinite linear;
    animation-delay: -4s;
}

@keyframes moonChange
{
    0%
    {
        box-shadow: 36px -36px $color_Yellow;
        transform: translateX(-36px) translateY(36px);
    }

    100%
    {
        box-shadow: -36px 36px $color_Yellow;
        transform: translateX(36px) translateY(-36px);
    }

}


/*【雲的圖片】*/

.cloud
{
    @include size(100px, 36px);
    position: absolute;
    bottom: 50px;
    left: 200px;
    border-radius: 20px;
    background-color: $color_Cloud_White;
    box-shadow: 0px 0px 20px rgba(Black, 0.3);
    animation: cloudDrift 4s infinite;

    &::before, &::after
    {
        content: "";
        display: block;
        @include size(50px, 50px);
        border-radius: 100%;
        position: absolute;
        background-color: $color_Cloud_White;
    }
    &::before
    {
        left: 16px;
        top: -28px;
    }
    &::after
    {
        left: 35px;
        top: -20px;
    }
}

@keyframes cloudDrift
{
    0%
    {
        transform: translateY(0px);
    }

    50%
    {
        transform: translateY(-10px);
    }

    100%
    {
        transform: translateY(0px);
    }
}


/*【下雨的動畫】*/

.rain
{
    @include size(1px, 10px);
    position: absolute;
    animation: rainDrop 1s infinite linear;
    background-color: $color_Cloud_White;
}

.rain1
{
    bottom: 20px;
    left: 30px;    
    animation-delay: -0.7s;
}

.rain2
{
    bottom: 15px;
    left: 45px;
    animation-delay: 0s;
}

.rain3
{
    bottom: 20px;
    left: 70px;
    animation-delay: -0.4s;
}

@keyframes rainDrop
{
    0%
    {
        transform: translateY(0px);
    }

    100%
    {
        transform: translateY(50px);
        opacity: 0;
    }
}


/*【一週天氣資訊區】*/

.weekInfoArea
{
    position: relative;
    box-shadow: 0px 0px 20px rgba(Black, 0.3);    
    height: 20px;
    overflow: hidden;
    transition-duration: 1s;
}

.wrap:hover .weekInfoArea
{
    height: 90px;
}

.downArrow
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 20px;
    height: 15px;
    animation: downArrowFlicker 2s infinite linear;
}

.downArrow::after
{
    display: inline-block;
    content:"";
    height: 9px;
    width: 9px;
    border-width: 0 2px 2px 0;
    border-color: $color_Black;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform-origin: center;
    transition: transform .3s;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -5px;
}

.downArrow.active::after
{
    transform-origin: center;
    transform: rotate(-135deg);
    transition: transform .3s;
}

@keyframes downArrowFlicker
{
    0% {opacity: 1;}
    50% {opacity: 0.1;}
    100% {opacity: 1;}
}

.wrap:hover .downArrow
{
    animation-duration: 0s;
    opacity: 0;
}


.weekInfoList
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 13px;

    display: flex;
    justify-content: center;
}

.weekInfoList li
{
    display: inline-block;
    width: calc(100% / 7 - 5px);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0;
}

.wrap:hover .mondayInfo {@include showWeekInfoList(0.2s);}
.wrap:hover .tuesdayInfo {@include showWeekInfoList(0.3s);}
.wrap:hover .wednesdayInfo {@include showWeekInfoList(0.4s);}
.wrap:hover .thursdayInfo {@include showWeekInfoList(0.5s);}
.wrap:hover .fridayInfo {@include showWeekInfoList(0.6s);}
.wrap:hover .saturdayInfo {@include showWeekInfoList(0.7s);}
.wrap:hover .sundayInfo {@include showWeekInfoList(0.8s);}

@keyframes expansionWeekInfoList
{
    0%
    {
        transform: translateY(20px);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}

.weekInfoTitle
{
    color: rgba($color_Black, 0.6);
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 2px;
    margin-bottom: 5px;
}

/*【繪製天氣圖示】*/

.weekInfoList svg
{
    width: 100%;
    max-width: 40px;
    height: 40px;
}

.sunIcon
{
    fill: $color_Yellow;
    stroke: rgba($color_Yellow, 0.5);
    stroke-width: 30px;
    stroke-dasharray: 5px;

    animation: sunRotate 10s infinite linear;
}

@keyframes sunRotate
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

.cloudIcon
{
    fill: $color_Cloud_Grey;
    stroke: none;
    animation: cloudDrift 4s infinite;
}

.rainIcon
{
    stroke: $color_Rain;
    stroke-width: 5px;
    animation: rainDrop 1s infinite linear;

}

.rainIcon1
{
    animation-delay: -0.7s;
}

.rainIcon2
{
    animation-delay: 0s;
}

.rainIcon3
{
    animation-delay: -0.4s;
}



