/*【色票】*/
$color_White: #f3f3f3;
$color_Yellow: #FFD633;
$color_Black: #222222;
$color_NightSky_Start: #19283D;
$color_NightSky_End: #1D678F;
$color_Rain: #4DACFF;
$color_Cloud_White: #f2f9fe;
$color_Cloud_Grey: #cccccc;

@mixin size($width, $height)
{
    width: $width;
    height: $height;
}

/*【通用設定區】*/

body
{
    font-family:  'Hind Vadodara', sans-serif, 微軟正黑體;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_Black;
}

.wrap
{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: $color_White;
    box-shadow: 0px 0px 20px rgba(Black, 0.3);
    width: 50%;
    max-width: 375px;
}

/*【主要資訊區（上半部區域） 】*/

.mainInfoArea
{
    position: relative;
    height: 330px;
    background: linear-gradient(20deg, $color_NightSky_Start, $color_NightSky_End);
    background-size: 100% 300%;
    
    animation: daylight 6s infinite;
    animation-direction: alternate;
}

@keyframes daylight
{
    0%
    {
        background-position: 100% 30%;
    }

    100%
    {
        background-position: 100% 100%;
    }
}

/*【svg繪圖】*/

.temperatureChart
{
    width: 100%;
    height: 200px;

    circle
    {
        fill: rgba($color_White, 0.4);
        
    }

    polyline
    {
        stroke: rgba($color_White, 0.4);
        stroke-width: 1px;
        fill: none;
    }

    text
    {
        transform: translateY(18px);
        font-size: 16px;
        fill: rgba($color_White, 0.4);
        
    }
}

/*【文字訊息】*/

.detailInfoBox
{
    position: absolute;
    left: 27px;
    bottom: 25px;
    font-weight: 100px;
    color: $color_White;
}

.info_temperature
{
    font-size: 75px;
    line-height: 80px;
}

.infos
{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    opacity: 0.5;
}


/*【月亮的圖片】*/
.moon
{
    
    @include size(50px, 50px);
    position: absolute;
    top: 130px;
    left: 50px;
    
    border-radius: 100%;
    box-shadow: 36px -36px $color_Yellow;
    animation: moonMove 15s infinite linear;
    animation-delay: -4s;
}

@keyframes moonMove
{
    0%
    {
        box-shadow: 36px -36px $color_Yellow;
        transform: translateX(-36px) translateY(36px);
    }

    100%
    {
        box-shadow: -36px 36px $color_Yellow;
        transform: translateX(36px) translateY(-36px);
    }

}


/*【雲的圖片】*/

.cloud
{
    @include size(100px, 36px);
    position: absolute;
    bottom: 50px;
    left: 200px;
    border-radius: 20px;
    background-color: $color_Cloud_White;
    box-shadow: 0px 0px 20px rgba(Black, 0.3);
    animation: cloudDrift 4s infinite;

    &::before, &::after
    {
        content: "";
        display: block;
        @include size(50px, 50px);
        border-radius: 100%;
        position: absolute;
        background-color: $color_Cloud_White;
    }
    &::before
    {
        left: 16px;
        top: -28px;
    }
    &::after
    {
        left: 35px;
        top: -20px;
    }
}

@keyframes cloudDrift
{
    0%
    {
        transform: translateY(0px);
    }

    50%
    {
        transform: translateY(-10px);
    }

    100%
    {
        transform: translateY(0px);
    }
}



/*【下雨的動畫】*/

.rain
{
    @include size(1px, 10px);
    position: absolute;
    animation: rainDrop 1s infinite linear;
    background-color: $color_Cloud_White;
}

.rain1
{
    bottom: 20px;
    left: 30px;    
    animation-delay: -0.7s;
}

.rain2
{
    bottom: 15px;
    left: 45px;
    animation-delay: 0s;
}

.rain3
{
    bottom: 20px;
    left: 70px;
    animation-delay: -0.4s;
}

@keyframes rainDrop
{
    0%
    {
        transform: translateY(0px);
    }

    100%
    {
        transform: translateY(50px);
        opacity: 0;
    }
}


/*【一週天氣資訊區】*/

.weekInfoArea
{
    box-shadow: 0px 0px 20px rgba(Black, 0.3);
}

.weekInfoList
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    justify-content: center;
}



.weekInfoList li
{
    display: inline-block;
    width: calc(100% / 7 - 5px);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.weekInfoTitle
{
    color: rgba($color_Black, 0.6);
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 2px;
    margin-bottom: 5px;
}

/*【繪製天氣圖示】*/

.weekInfoList svg
{
    width: 100%;
    max-width: 40px;
    height: 40px;
}

.sunIcon
{
    fill: $color_Yellow;
    stroke: rgba($color_Yellow, 0.5);
    stroke-width: 30px;
    stroke-dasharray: 5px;

    animation: sunRotate 10s infinite linear;
}

@keyframes sunRotate
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

.cloudIcon
{
    fill: $color_Cloud_Grey;
    stroke: none;
    animation: cloudDrift 4s infinite;
}

.rainIcon
{
    stroke: $color_Rain;
    stroke-width: 5px;
    animation: rainDrop 1s infinite linear;

}

.rainIcon1
{
    animation-delay: -0.7s;
}

.rainIcon2
{
    animation-delay: 0s;
}

.rainIcon3
{
    animation-delay: -0.4s;
}



